__pycache__/
*.py[cod]
*.pyd
*.so
*.dll

.vscode/
.idea/
.DS_Store
Thumbs.db

wandb/
tensorboard_3d/
screenshots/
debug*/
log*/
logs/
temp*/

data/
outputs/
output/
experiments/
checkpoints/

backup/
point_cloud/
train/
test/
eval_*/
renders/
gt/

*.bak
*.tmp

submodules/**/build/
submodules/**/*.egg-info/
dist/
build/
